<ion-view >
  <div style="width:100%;height:49px;position:fixed;top:0px;left:0px;background-color:rgba(0,0,0,0);z-index:20">
          <button class="button button-clear" ng-click="doSomething()" style="color:white">
            <i class="icon ion-ios-arrow-left"></i>
            返回
          </button>
          <button class="button button-clear"  style="color:white;float:right">
            <i class="icon ion-android-more-horizontal"></i>
          </button>
          <button class="button button-clear"  style="color:white;float:right">
            <i class="icon ion-ios-person-outline"></i>
          </button>
  </div>
<ion-content has-bouncing="false">

  <img src="image/9.PNG" width="100%" height="100%">
</ion-content>

</ion-view>
