<ion-view view-title="联系人">
    <ion-nav-buttons side='right'>
         <button class="button button-clear">添加</button>
    </ion-nav-buttons>
    <ion-content scrollbar-y="false">
      <ion-list>
        <div class="item item-input-inset" style="height:45px;border-width:0px">
          <label class="item-input-wrapper">
             <i class="icon ion-ios-search placeholder-icon "></i>
              <input type="text" placeholder="搜索">
          </label>
        </div>


            <div class="row" style="padding-left:0;padding-right:0;">
              <div class="col lianxirencol" style="padding:0" >
                <button style="width:100%;height:120%;border-width:0" class="button button-light">
        			  <div class="tabs-icon-top">
        			  	<div class="tab-item">
        			  		<i class="icon ion-android-person-add positive" ></i>
        			                      新朋友
        			  	</div>
        			  </div>
                </button>
			         </div>
               <div class="col lianxirencol" style="padding:0">
                   <button style="width:100%;height:120%;border-width:0" class="button button-light">
         			  <div class="tabs-icon-top">
         			  	<div class="tab-item">
         			  		<i class="icon ion-person-stalker " style="color:blue"></i>
         			                      群聊
         			  	</div>
         			  </div>
                </button>
 			         </div>
               <div class="col lianxirencol" style="padding:0">
                   <button style="width:100%;height:120%;border-width:0" class="button button-light">
         			  <div class="tabs-icon-top">
         			  	<div class="tab-item">
         			  		<i class="icon ion-social-chrome energized"></i>
         			                     公众号
         			  	</div>
         			  </div>
                </button>
 			         </div>
            </div>
           <ion-item class="item-divider" style="min-height:20px"></ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">特别关心</span>
             <span class="lianxirenspan2">0/0</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">常用群聊</span>
             <span class="lianxirenspan2">0</span>
           </ion-item>
           <ion-item class="item-divider" style="min-height:20px"></ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">有①首歌╮</span>
             <span class="lianxirenspan2">15/18</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">　　　╰唱了⑥年</span>
             <span class="lianxirenspan2">0/0</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">有①段话╮</span>
             <span class="lianxirenspan2">23/23</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">　　　╰说了③年</span>
             <span class="lianxirenspan2">36/90</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">有①个人╮</span>
             <span class="lianxirenspan2">77/100</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">　　　╰爱了③年</span>
             <span class="lianxirenspan2">10/20</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">有①堆人╮</span>
             <span class="lianxirenspan2">0</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">　　　╰疯了③年</span>
             <span class="lianxirenspan2">60/72</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">▁▁▃▃▃▃▁▁</span>
             <span class="lianxirenspan2">7/8</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">最后说句【再见】</span>
             <span class="lianxirenspan2">10/14</span>
           </ion-item>
           <ion-item class="item-divider" style="min-height:20px"></ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">手机通讯录</span>
             <span class="lianxirenspan2">未启用</span>
           </ion-item>
           <ion-item class="lianxirenitem">
             <i class="icon ion-android-arrow-dropright lianxirensnajian" ></i>
             <span class="lianxirenspan1">我的设备</span>
             <span class="lianxirenspan2">2/2</span>
           </ion-item>
        </<ion-list>
    </ion-content>
</ion-view>
