<ion-view view-title="nihao">
  <ion-nav-title>
    <h1 class="title xiaoxih1">
    <span class="span1" style="margin-right:-5px;" ng-click="xiaoxi()">消息</span>
    <span ng-click="dianhua()">电话</span>
    </h1>
  </ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-clear icon ion-android-add"></button>
  </ion-nav-buttons>
<ion-content>
  <ion-list class="xx">
    <div class="item item-input-inset" style="height:45px;border-width:0px">
      <label class="item-input-wrapper">
         <i class="icon ion-ios-search placeholder-icon "></i>
          <input type="text" placeholder="搜索">
      </label>
    </div>
    <ion-item class="item-avatar">
        <img src="http://www.qqjay.com/uploads/allimg/160306/1_0PP4Q19.jpg" alt="">
        <h2>群助手
          <span style="float:right;font-size:10px;color:grey">下午2:34</span></h2>
        <p style="color:orange">[2个群有新消息]</p>
    </ion-item>
    <ion-item class="item-avatar">
        <img src="image/4.jpg" alt="">
        <h2>Kali 吧线上交流
          <span style="float:right;font-size:10px;color:grey">下午4:38</span></h2>
        <p >间谍:玩具</p>
        <span class="badge badge-calm" style="position:absolute;top:35px;right:15px">99+</span>
    </ion-item>
    <ion-item class="item-avatar">
        <img src="image/5.jpg" alt="">
        <h2>i春秋-燕
          <span style="float:right;font-size:10px;color:grey">下午5:32</span></h2>
        <p >燕-百万斤的火星猴:3p</p>
        <span class="badge badge-calm" style="position:absolute;top:35px;right:15px">10</span>
    </ion-item>
    <ion-item class="item-avatar">
        <img src="image/6.jpg" alt="">
        <h2>i春秋-秦
          <span style="float:right;font-size:10px;color:grey">下午3:21</span></h2>
        <p >秦-烽火:发起了视频聊天</p>
        <span class="badge badge-calm" style="position:absolute;top:35px;right:15px">79</span>
    </ion-item>
    <ion-item class="item-avatar">
        <img src="image/6.jpg" alt="">
        <h2>Kali Linux渗透测试群3
          <span style="float:right;font-size:10px;color:grey">下午4:32</span></h2>
        <p >请叫我ET外星人:[图片]</p>
    </ion-item>
    <ion-item class="item-avatar">
        <img src="image/7.jpg" alt="">
        <h2>Hacking(小玄2群)
          <span style="float:right;font-size:10px;color:grey">下午4:08</span></h2>
        <p >一休:360居然还得上传身份证照</p>
        <span class="badge badge-calm" style="position:absolute;top:35px;right:15px">9</span>
    </ion-item>
  </ion-list>

</ion-content>
</ion-view>
