<ion-side-menus>
   <ion-side-menu side="left">
     <ion-nav-bar align-title="right" class="bar-dark">
      <button type="button" class="button button-clear ion ion-social-hackernews"></button>
    </ion-nav-bar>
     <ion-content>
       <ion-list>
         <a class="item celantb" menu-close ui-sref="app.tabs.xiaoxi.xx">
            <img src="image/2.PNG" alt="" width="25" height="25" style="position: absolute;right:10px;top:10px">
           <ion-item class="item-avatar" style="background:rgba(0,0,0,0);margin-top:100px;border-width:0">
             <img src="http://www.qqjay.com/uploads/allimg/160306/1_0PP4Q19.jpg" alt="" style="border:4px white solid">
             <h1 style="margin-top:-6px;color:white">a'ゞ</h1>
           </ion-item>
           <div class="celandiv">
               <i class="ion-ios-sunny energized" style="font-size:30px"></i>
               <i class="ion-ios-moon energized" style="font-size:30px"></i>
              <p>编辑个性签名</p>
           </div>

         </a>
         <ion-item class="item-icon-left" menu-close ui-sref='chaoji' style="border-width:0;margin-top:10px">
           <i class="icon ion-ribbon-b"></i>
           <p>我的超级会员</p>
         </ion-item>
         <ion-item class="item-icon-left" menu-close ui-sref='app.qianbao' style="border-width:0">
           <i class="icon ion-ios-briefcase-outline"></i>
           <p>QQ钱包</p>
         </ion-item>
         <ion-item class="item-icon-left" menu-close ui-sref='app.gexingzhuangban' style="border-width:0">
           <i class="icon ion-android-color-palette"></i>
          <p>个性装扮</p>
         </ion-item>
         <ion-item class="item-icon-left" menu-close ui-sref='app.wodeshoucang' style="border-width:0">
           <i class="icon ion-ios-book-outline"></i>
           <p>我的收藏</p>
         </ion-item>
         <ion-item class="item-icon-left" menu-close ui-sref='app.wodexiangce' style="border-width:0">
           <i class="icon ion-image"></i>
           <p>我的相册</p>
         </ion-item>
         <ion-item class="item-icon-left" menu-close ui-sref='app.wodewenjian' style="border-width:0">
           <i class="icon ion-android-folder-open"></i>
           <p>我的文件</p>
         </ion-item>
       </ion-list>
     </ion-content>
     <ion-footer-bar align-title="left" class="bar-light" style="background:none">
       <div class="buttons">
          <button class="button button-clear" style="margin-left:20px">
            <i class="iconfont icon-settings"style="font-size:15px"></i>
            <span style="font-size:15px;margin-left:10px">设置</span>
          </button>
        </div>
      <div class="buttons">
       <button class="button button-clear" style="display:flex;justify-content:center;margin-left:20px">
         <i class="ion-ios-moon" style="font-size:25px"></i>
        <span style="font-size:15px;margin-left:10px">夜间</span>
       </button>
     </div>
     </ion-footer-bar>
   </ion-side-menu>
   <ion-side-menu-content drag-content="true">
     <ion-nav-bar class="bar-positive">
       <ion-nav-buttons side:"left">
         <button class="button button-clear" menu-toggle='left'>
           <img src="http://www.qqjay.com/uploads/allimg/160306/1_0PP4Q19.jpg" alt="" style="width:30px;height:30px;border-radius:30px;margin-top:3px">
         </button>
       </ion-nav-buttons>
     </ion-nav-bar>
     <ion-nav-view></ion-nav-view>
   </ion-side-menu-content>
</ion-side-menus>
