<ion-tabs class="tabs-light tabs-icon-top">
 <ion-tab title="消息" ui-sref='app.tabs.xiaoxi.xx' icon-off="ion-ios-chatbubble-outline " icon-on="ion-ios-chatbubble positive">
  <ion-nav-view name="tab-xiaoxi"></ion-nav-view>
 </ion-tab>
 <ion-tab title="联系人" ui-sref='app.tabs.lianxiren' icon-off="ion-ios-person-outline" icon-on="ion-ios-person positive">
   <ion-nav-view name="tab-lianxiren"></ion-nav-view>
 </ion-tab>
 <ion-tab title="动态" ui-sref='app.tabs.dongtai' icon-off="ion-android-star-outline" icon-on="ion-android-star positive">
  <ion-nav-view name="tab-dongtai"></ion-nav-view>
 </ion-tab>
</ion-tabs>
